.enigma_text_color_1 {
  color: #9799d6;
}

.enigma_border_color_1 {
  border: 1px solid #000000;
}

.enigma_border_color_2 {
  border: 1px solid #9799d6;
}

.enigma_bg_color_1 {
  background-color: #242747;
}

.enigma_bg_color_2 {
  background-color: #212550;
}

.enigma_bg_color_3 {
  background-color: #313561;
}
